.link {
    color: black;
    text-decoration: none;
    display: block;
    float: left;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}