#results-container {
    margin: 0;
    padding: 0;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30vw);
    grid-auto-rows: auto;
    position: absolute;
    top: 12em;
    left: 4em;
    /* border: 2px solid black; */
    height: auto;
    justify-content: center;
    padding-bottom: 3em;
    margin-bottom: 3em;
}