.form {
    position: absolute;
    top: 160px;
    left: 550px;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 30px;
}
.input {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box {
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    width: 40%;
    padding: 1em ;
    padding-left: 1.5em; 
    border: 2px solid #000000;
    border-radius: 35px;
    align-self: center;
    background-color: transparent;

}

.buttons {
    align-items: center;
    margin-top: -10px;
    margin-left: 150px;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

button {
    align-items: center;
    margin-left: -80px;
    margin-right: auto;
    width: 150px;
    background-color: #1B3A27;
    border: 2px solid #1B3A27;
    border-radius: 35px;
    align-self: center;
    height: 30px;
    color: white;
}

.image {
    width: 800px;
    height: auto;
    position: relative;
    top: -80px;
    left: 250px;
}

h1 {
    margin-left: 90px;
}