#search-container {
    width: auto;
    position: relative;
    top: 40vh;
    left: -7vw;

}

#surprise-me-link {
    position: relative;
    top: 42vh;
    left: 12%;
    text-decoration: none;
}

#discover-container {
    position: relative;
    margin-left: 10em;
    margin-right: 10em;
    /* height: auto; */
    border: 2px solid black;
    top: 70vh;

    background: #FFFFFF;
    border-style: solid;
    border-color: #000000;
    border-radius: 50px;
    height: 100em;
}

#logout-button {
    position: relative;
}