#homepage-container {
    position: relative;
}

#search-bar {
    position: relative;
    top: 30vh;
    left: 30%;
}

#surprise-me-link {
    position: relative;
    top: 32vh;
    left: 50%;
    text-decoration: none;
}

#discover-container {
    position: relative;
    margin-left: 10em;
    margin-right: 10em;
    height: auto;
    border: 2px solid black;
    top: 70vh;

    background: #FFFFFF;
    border-style: solid;
    border-color: #000000;
    border-radius: 50px;
    height: 100%;
}

#discover-section {

}